.license-display {
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 8px;

  &.license-display-pro {
    background-color: #42526E;
  }

  &.license-display-free {
    background-color: #5AAC44;
  }

  .license-display-link {
    cursor: pointer;
    margin-left: 6px;
    text-decoration: underline;
    color: white;

    &:hover {
      filter: blur(0.4px);
      color: white;
      opacity: 0.8;
    }
  }

  .OUR-simple-loader{
    font-size: 8px;
    margin: 5px;
  }

}

